# Gradle
.gradle/
/build/

# Python virtual environment
/env/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# nbconvert HTML/slides output
/notebooks/**/*.html

# Local reveal.js for nbconvert slides
/notebooks/**/reveal.js

# nbconvert LaTeX output
/notebooks/**/*.aux
/notebooks/**/*.dvi
/notebooks/**/*.log
/notebooks/**/*.out
/notebooks/**/*.pdf
/notebooks/**/*.tex

# These PDFs are for embedding in a notebook, they are not generated
!/notebooks/presentations/img/*.pdf

# Kodkod log files
probkodkod.log
probkodkod.log.lck
