# Gradle
.gradle/
/build/

# Generated
/kernelspec/prob2/kernel.json

# Python virtual environment
/env/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# LaTeX
/notebooks/**/*.aux
/notebooks/**/*.log
/notebooks/**/*.out

# Kodkod log files
probkodkod.log
probkodkod.log.lck
