# Gradle
.gradle/
/build/

# Python virtual environment
/env/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# nbconvert HTML/slides output
/notebooks/**/*.html

# nbconvert LaTeX output
/notebooks/**/*.aux
/notebooks/**/*.dvi
/notebooks/**/*.log
/notebooks/**/*.out
/notebooks/**/*.pdf
/notebooks/**/*.tex

# Kodkod log files
probkodkod.log
probkodkod.log.lck
